@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
	
	font-family: 'Josefin Sans';
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	
	background: #EFEFEF;
}

.Main {
	
	display: grid;
	height: 1000px;
	grid-template-columns: 60% 40%;    
	margin-top: 50px;
    margin-bottom: 50px;
}

.Search {
	
	display: inline-block;
	margin-left: 60px;
	margin-bottom: 20px;
}

.Search button{
	
    height: 30px;
    width: 100px;
	background: #3C72FF;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    border-radius: 10px;
}

.Search input{
	
	width: 100px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
}

.Button_To_Excel {
	
    width: 200px;
    height: 30px;
    background: #10793F;
    color: #FFFFFF;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    
}

.la-download {

	font-size: 17px;
	font-weight: bold;
}

.Table {
	
	width: 90%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    background: #FFFFFF;
}

.Table thead {
	
	background: #DAE2EC;
    color: #063E85;
}

.Table tr {
	
	border-bottom: 2px solid #ddd;
}

.Table td {
	
	padding: 13px;
	text-transform: capitalize;
}

.Table button {
	
	width: 130px;
	height: 40px;
	background: #3C72FF;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-weight: 900;
    font-size: 15px;
}

.Edit_Button {
	
	background: #FFFFFF !important;
    color: #3C72FF  !important;
    border: 3px solid #3C72FF  !important;
}

.Detail {
	
	width: 95%;
	max-height: 800px;
	height: 800px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.Detail_ID {
	
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    background: #3C72FF;
    color: #FFFFFF;
    padding-left: 20px;
}

.Detail span {
	
	font-size: 18px;
	font-weight: bold;
}

.Detail p {
	
	height: 40px;
	font-size: 23px;
	font-weight: bold;
}

.Detail_Items {
	
    height: 70%;
	overflow-y: auto;
    padding: 35px;
}

.Detail_Header {
	
	display: flex;
    gap: 48px;
    height: 50px;
    background: #FFFFFF;
    margin-bottom: 18px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.Item {
	
	display: flex;
    gap: 80px;
    margin-bottom: 50px;
    background: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.Item img {
	
	width: 150px;
    height: 150px;
}

.Detail_Info {
	
	display: grid;
    grid-template-columns: 80% 10%;
    border-top: 1px solid #D7D7D7B6;
    padding-top: 30px;
}

.Detail_Info span{
	
	font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    height: 35px;
}
